body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(95deg,#c55,#cc5,#5c5,#5cc,#55c,#c5c); 
    /* -webkit-backdrop-filter: brightness(50%);
    backdrop-filter: brightness(50%); */
    text-align:center; 
    padding: 1em;
    color: white;
}

header > h1 , header > h2 {
    text-shadow: 0 0 0.5em black;
}

nav {
    display: flex;
    background: #ccc;
}

nav > div {
    padding: 0.5em;
    font-weight: 700;
    cursor: pointer;
}

nav > div.active {
    background: #aaa;
}

main {
    padding: 1em;
}